@import "bootstrap-sprockets";
@import "bootstrap";

$primary: #337ab7;

/* universal */
body {
  padding-top: 10px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Navvbar */
.navbar li a{
  color: white !important;
}

a:hover{
  text-decoration: none;
}

button{
  border: none;
  background-color: $primary;
}

button:hover{
  background-color: #03a89f;
}

.navbar li{
  list-style-type: none;
  padding-left: 5px;
  padding-right: 10px;
}

.navbar-brand a{
  color: white !important;
}

/* forms */
input, textarea, select, .uneditable-input  {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}